nav {
  background-color: #553d67;
}

.txt-clr {
  color: white; 
  text-decoration: none;
  
}

.txt-clr:hover {

  border-color: #f64c72;
  color: white;
  /* transition: ; */
}

.text-size {
  font-size: 30px;
  font-weight: 500;
  color: white;
  
}

.text-size:hover {
  cursor: pointer;
  /* color: red; */
}

.box-ht {
  display: inline-block;
  list-style: square;

  
}

.input-icons i { 
  position: absolute; 
  left: 88.2%;
  top: 35%;

} 

.input-icons i:hover { 
  cursor: pointer;
} 

.input-icons { 
  width: 100%; 
  margin-bottom: 10px; 
} 

.icon { 
  padding: 10px; 
  color: green; 
  min-width: 50px; 
  text-align: center;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; 
  /* margin-right: -2px; */
} 

.list{
  margin-bottom: 50px;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.nav-btn {
  /* margin-top: -3rem; */
  position: absolute;
  left: 83%;
  top: 20px;
}

.phone {
  float: right; 
  margin-top: 11px;
}


@media screen and (max-width:1100px){
  .input-icons i { 
    position: absolute; 
    left: 85%;
    top: 35%;
  }
}

@media screen and (max-width:800px) {
  .input-icons i { 
    position: absolute; 
    left: 80%;
    top: 35%;
  }

  .list{
    margin-bottom: 50px;
    display: grid; 
    grid-template-columns: 1fr;
    
  }
}

@media (max-width:500px) and (min-width: 390) {
  .input-icons i { 
    position: fixed; 
    left: 80%;
    top: 35%;
  }

}

/* @media screen and (max-width:390px){
  .input-icons i { 
    position: absolute; 
    left: 80%;
    top: 30%;
  }

} */